* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

nav ul {
    list-style: none;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.foto img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    margin-left: 1%;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
} 



.card img {
    height: 70%;
    width: 100%;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    margin-top: 100px;
}

.about .foto {
    margin-right: 20px;
}

.about .text {
    text-align: center;
}

.about .foto img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
   /* position: fixed; */
    bottom: 0;
    width: 100%;
}

footer nav a {
    color: #fff;
    margin: 0 10px;
}
.techs {
    text-align: center; 
    margin-bottom: 40px;
}

.techs p {
    display: inline-block;
    margin: 0 20px; 
}
@media screen and (max-width: 768px) {
    header nav ul {
        text-align: center;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about .text {
        text-align: center;
    }

    .projects .card {
        width: calc(50% - 20px);
    }

    .projects {
        margin-bottom: 40px; 
    }

    .techs {
        margin-top: 40px; 
    }
}
@media screen and (max-width: 576px) {

    .projects .card {
        width: 100%;
        margin-bottom: 20px;
    }

    body {
        font-size: 90%; 
    }
}
 



